/* =====================================
   SECAO PRINCIPAL DA IDENTIDADE / LOGO
===================================== */

/* cor da secao da logo */
.secao-identidade {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--bg-all-svgs);
}

/* container central da logo */
.logo-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* logo principal */
.logo {
    user-select: none;
    letter-spacing: 0.25em;
}

/* partes textuais da logo */
.logo-leaf,
.logo-me {
    font-family: "Caveat", cursive;
    font-size: 6.5rem;
    font-weight: 300;
    color: var(--color-white);
}

/* elemento central da logo */
.logo-and {
    font-family: "Caveat", cursive;
    font-size: 9.5rem;
    font-weight: 300;
    color: #7eaf93;
    opacity: 0.85;
}

/* slogan central / logo */
.texto-central {
    text-align: center;
    line-height: 1.8;
}

/* slogan principal abaixo da logo */
.logo-slogan {
    font-size: 1.2rem;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    font-weight: 300;
    color: #C9D6D1;
    opacity: 0.7;
    padding-top: 2rem;
    margin-bottom: 1rem;
}

/* parágrafo descritivo da logo */
.logo-descricao {
    display: block;
    max-width: 600px;
    width: 100%;
    font-size: 0.8rem;
    line-height: 1.8;
    color: #B7C6C2;
    opacity: 0.75;
}


/* ===============================
    SECTION SOBRE O PROJETO LEAF
   =============================== */
.secao-sobre-leaf {
    width: 100%;
    background: var(--bg-secao-identidade);
    padding: 5rem 3rem;
}

/* container principal do conteúdo sobre */
.sobre-leaf {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;

    color: var(--color-white);
}

/* container base da imagem com pop-up */
.sobre-pop-up {
    position: relative;
    display: block;
}

/* imagem principal da section sobre */
.sobre-img {
    max-width: 600px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

/* ícone decorativo de destaque */
.bi-globe-americas {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 1.8rem;
    color: darkgreen;
    padding: 1rem;
    border-radius: 12px;

    background-color: #a2d69c8a;
}

/* pop-up informativo sobre a imagem */
.pop-up-icon {
    width: 100%;
    max-width: 200px;
    
    position: absolute;
    bottom: -2.3rem;
    left: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1.8rem;
    border-radius: 20px;
    background-color: #fffffff8;

    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
}

/* container das informações numéricas */
.container-especies {
    color: var(--color-black);
}

/* número em destaque */
.icon-numero-plus {
    font-size: 1.5rem;
    font-weight: 500;
    color: #32522f
}

/* texto complementar do número */
.icon-especies {
    font-size: 1rem;
    opacity: 0.6;
}

/* container de texto sobre o projeto */
.sobre-container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem 1rem;
    padding: 1rem;
}

/* bloco de informações textuais */
.sobre-container-info {
    display: block;
    align-content: center;
    text-align: left;
}

/* texto introdutório do projeto */
.sobre-projeto {
    font-size: 1rem;
    color: #8FB8A1;
    font-weight: 600;
    text-transform: uppercase;
}

/* título principal da section */
.sobre-titulo {
    color: rgb(30 41 59 1);
    margin-top: 1rem;

    max-width: 500px;
    font-size: 2.9rem;
    font-weight: 300;
}

/* título secundário em destaque */
.titulo-secundario {
    color: var(--color-blue);
    font-weight: 550;
    font-size: 3rem;
}
/* texto principal da descrição sobre o projeto */
.sobre-info {
    line-height: 1.6;
    font-size: 1.1rem;

    margin: 1.3rem 0;
    font-size: 1.2rem;
}

/* container dos ícones informativos */
.sobre-icons-plus {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 1.5rem;
}

/* estilo base dos ícones */
.sobre-icons-plus .bi {
    padding: 1rem;
    border-radius: 12px;
    font-size: 1.2rem;
    margin: 1rem 0;

    color: #fff;
    background-color: #27638b;

    box-shadow: 0px 1px 4px 0px #3d6a88d0;
}

/* container de textos ao lado dos ícones */
.icons-info {
    display: flex;
    flex-direction: column;
}

/* título do bloco informativo */
.titulo-info {
    font-size: 1.1rem;
}

/* subtítulo explicativo */
.subtitulo-info {
    font-size: 1rem;
    opacity: 0.7;
}

/* ==================================
    SECTION PRINCIPAL DAS PLANTAS
   =============================== */

.plantas {
    width: 100%;
    padding: 5rem;
    background: var(--bg-secao-plantas);

    color: var(--color-white);
}

/* container superior da section plantas */
.plantas-principal {
    width: 100%;
    margin: 0 auto;
    padding: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* bloco de textos introdutórios das plantas */
.plantas-texto-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/* pequeno texto de destaque */
.planta-small-top {
    font-size: 1.1rem;
    font-weight: 600;
    color: #8FB8A1;
}

/* container dos títulos principais */
.plantas-titulo-box {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.8rem;
    margin: 1rem 0;
}

/* título principal */
.plantas-titulo {
    font-size: 2.8rem;
}

/* parte destacada do título */
.plantas-titulo-sub {
    font-size: 3rem;
    color: var(--color-blue);
    font-weight: 600;
}

/* parágrafo explicativo da section */
.plantas-subtitulo {
    text-align: center;
    max-width: 500px;
    width: 100%;
    line-height: 1.6;
    font-size: 1rem;
}
/* container geral da section plantas */
.container-plantas {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* agrupamento dos cards de plantas */
.secao-plantas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

/* card individual da planta */
.plantas-article {
    max-width: 300px;
    width: 100%;
    background-color: #e2e7eb02;
    color: var(--color-white);
    padding: 1rem;
    border-radius: 24px;
    border: 1px solid #ffffff3a;
    
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, filter 0.3s ease-in-out, trasform 0.3s ease-in-out;
}

/* efeito de zoom na imagem ao passar o mouse */
.plantas-article:hover .container-imgs .plantas-img {
    transform: scale(1.1);
    cursor: pointer;
}

/* container da imagem da planta */
.container-imgs {
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* imagem da planta */
.plantas-img {
    position: absolute;
    width: 100%;
    height: 100%;

    inset: 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

/* bloco de informações do card */
.plantas-infos {
    padding: 1.3rem 0;
    margin: 1.3rem 0;
    
    border-bottom: 1px #ffffff3a solid;
}

/* texto principal das informações */
.plantas-infos-tx {
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.8;
    color: #8FB8A1;
}

/* texto secundário das informações */
.plantas-infos-tx-sub {
    margin-top: 0.5rem;
    opacity: 0.7;
}

/* container dos ícones do card */
.plantas-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

/* =================================
    SECTION DO GRID DE PLANTAS
================================*/

/* section do grid de plantas */
.grid-plantas {
    background: var(--bg-secao-grid-plantas);
    width: 100%;
}

/* cabeçalho do grid de plantas */
.grid-cabecalho {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--color-white);
}

/* pequeno texto de destaque do grid */
.grid-small-top {
    font-size: 1.1rem;
    font-weight: 600;
    color: #8FB8A1;
    margin: 1rem 0;
}

/* título principal do grid */
.grid-titulo {
    font-size: 2.8rem;
    font-weight: 600;
}

/* parte destacada do título */
.grid-titulo-folhas {
    font-size: 3rem;
    color: var(--color-blue);
    font-weight: 600;
}

/* subtítulo explicativo do grid */
.grid-subtitulo {
    text-align: center;
    max-width: 500px;
    line-height: 1.6;
    font-size: 1rem;
}
/* definição das áreas do grid das plantas */
.box-1 { grid-area: box-1; }
.box-2 { grid-area: box-2; }
.box-3 { grid-area: box-3; }
.box-4 { grid-area: box-4; }
.box-5 { grid-area: box-5; }
.box-6 { grid-area: box-6; }
.box-7 { grid-area: box-7; }
.box-8 { grid-area: box-8; }
.box-9 { grid-area: box-9; }

/* container geral do grid */
.grid-container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

/* estrutura principal do grid de plantas */
.grid-plantas-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    gap: 1.5rem;

    grid-template-areas:
        "box-1 box-2 box-3 box-3 box-4"
        "box-1 box-5 box-5 box-6 box-4"
        "box-7 box-8 box-9 box-6 box-4";
    ;
}

/* card individual do grid */
.grid-plantas-article {
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

/* imagem das plantas no grid */
.grid-plantas-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* efeito hover da imagem do grid */
.grid-plantas-img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* frase de apoio abaixo do grid */
.grid-plantas-frase {
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

/* parte destacada da frase do grid */
.grid-frase {
    color: #8cd6c4;
    font-weight: 600;
}

/*  ===========================
    SECAO DOS RITUAIS DIARIOS
===========================*/

.rituais {
    width: 100%;
    background: var(--bg-secao-identidade);
    color: var(--color-white);
}

/* container principal dos rituais */
/* .rituais-container {
}
 */

/* cabeçalho da section rituais */
.rituais-cabecalho {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 3rem;
}

/* pequeno texto introdutório dos rituais */
.rituais-small {
    font-size: 1.1rem;
    font-weight: 600;
    color: #8FB8A1;
    margin: 1rem 0;
}

/* título principal dos rituais */
.rituais-titulo {
    font-size: 2.7rem;
    font-weight: 600;
}

/* parte destacada do título */
.rituais-titulo-sub {
    font-size: 3rem;
    color: var(--color-blue);
    font-weight: 600;
}

/* subtítulo explicativo dos rituais */
.rituais-subtitulo {
    text-align: center;
    max-width: 700px;
    width: 100%;
    line-height: 1.6;
    font-size: 1rem;
}

/* container flex dos cards de rituais */
.rituais-flex-container {
    max-width: 1400px;
    margin: 0 auto; 
    width: 100%;
    padding: 3rem;;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 3rem;
}

/* card individual de gesto ritual */
.rituais-gestos {
    max-width: 600px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem;
    background-color: #2A3A44;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;

    gap: 2rem;
}

/* container do ícone do ritual */
.rituais-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 1.3rem;
    border-radius: 24px;
    background-color: #4a6b805b;
    transition: background-color 0.3s ease-in-out;
}

/* ícone visual do ritual */
.rituais-icons {
    font-size: 1.5rem;
}

/* container do texto do gesto */
.gestos-container {
    background-color: #3246525d;
    padding: 1rem;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.082);
    border-bottom-left-radius: 24px;
    border-top-right-radius: 24px;
}

/* efeito hover do container do ícone */
.rituais-icons-container:hover {
    background-color: #436b9698;
}

/* título do gesto */
.gestos-titulo {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

/* pequeno texto complementar do gesto */
.gestos-small {
    opacity: 0.9;
    color: #3b75ac;
    font-size: 0.9rem;
}

/* descrição do gesto */
.gestos-subtitulo {
    font-size: 1rem;
    opacity: 0.8;
    line-height: 1.3rem;
}